SECRET_KEY=
POSTGRES_DB=lamto
POSTGRES_USER=lamto
POSTGRES_PASSWORD=lamto
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_SERVICE_ROLE=lamto_service
PRIVATE_STORAGE_ENDPOINT_URL=http://127.0.0.1:9000
PRIVATE_STORAGE_BUCKET=lamto-documents
PRIVATE_STORAGE_ACCESS_KEY=lamto-local
PRIVATE_STORAGE_SECRET_KEY=lamto-local-secret
CLAMAV_HOST=127.0.0.1
CLAMAV_PORT=3310
AI_TRIAGE_URL=
AI_TRIAGE_TOKEN=
CHAIN_ID=1337
CHAIN_RPC_URL=http://127.0.0.1:8545
CHAIN_CONTRACT_ADDRESS=
CHAIN_SIGNER_PRIVATE_KEY=
